body {
    width: 100%;
    height: 100%;
    background: #D6D3CE;
    font-size: 12px;
}

div {
    width: 100%;
}

#gamearea {
    border:1px solid black;
}
#chatbox input {
    border: 1px solid black;
    text-indent: 9px;
    height: 18px;
    width: 198px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#chatbox button {
    height: 20px;
    width: 60px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border: 1px solid black;
    border-left: none;
    background: #BBBBBB;
}

    #chatbox button:hover {
        background: #EEEEEE;
    }

#container {
    margin: 0 auto;
    width: 256px;
    height: 384px;
    user-select: none;
}

#mainscreen {
    width: 256px;
    height: 384px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
}
    #mainscreen > span {
    text-align:center;
    vertical-align: middle;
    width: 0;
    height: 0;
    line-height: 0;
    white-space: nowrap;
    position:absolute;
    cursor:pointer;
    color:white;
    text-shadow:1px 1px 1px red;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:none;
    }
#chatbox {
    width: 100%;
    margin-top:5px;
}

    #chatbox input {
        border: 1px solid black;
        text-indent: 9px;
        height: 18px;
        width: 194px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }
    #chatbox>pre{
    border: 1px dotted black;
    white-space:pre-wrap;
    overflow:auto;
    height: 100px;
    overflow: auto;
    margin-top: 5px;
    width:100%;
    display:block;
}
    #chatbox button {
        height: 20px;
        width: 60px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        border: 1px solid black;
        border-left: none;
        background: #BBBBBB;
    }

        #chatbox button:hover {
            background: #EEEEEE;
        }


#keypad {
margin-top:5px;
}
#keypad,#keypad > table {
width:100%;
}
    #keypad td {
    width:12.5%;
    }
    #keypad button {
    width:30px;
    height:30px;
    border:1px solid silver;
    border-radius:15px;
    background:#333333;
    color:white;
    }
#footer {
width:100%;
text-align:center;
}
hr {
background:black;
width:100%;
}